@font-face {
  font-family: Passion One;
  src: url("../fonts/PassionOne-Black.ttf") format(truetype);
}
h1 {
  font-family: Passion -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
.navigation {
  display: inline-block;
  list-style-type: none;
}
a {
  display: inline;
  list-style-type: none;
}
